<div data-ng-controller="ComparisonController">
    Start lat:<span data-ng-bind="start_lat"></span>
    Start long:<span data-ng-bind="start_long"></span>
    <br>
    End lat:<span data-ng-bind="end_lat"></span>
    End long:<span data-ng-bind="end_long"></span>
    <br>
    Map here:
    <div id="map"></div>
    <br>
    ---------------------


    <button data-ng-click="getRideEstimates()">Get ride estimates</button>
    <div data-ng-if="rideEstimates != null">
        <ul>
            <li ng-repeat="estimate in rideEstimates">{{ estimate }}</li>
        </ul>
    </div>
</div>
